body{
  margin: 0;
  padding: 0;
  background: burlywood;
}

* {
  box-sizing: border-box;
}

.app {
  text-align: center;
}

.list-unstyled {
  list-style: none;
}

.center {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.max-width {
  max-width: 30rem;
  width: 100%;
}

.image {
  max-width: 400px;
}
