body{
  margin: 0;
  padding: 0;
  background: burlywood;
  min-width: 100vw;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Cinzel Decorative', cursive;
}

.app {
  text-align: center;
}

.list-unstyled {
  list-style: none;
}

.center {
  text-align: center;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.max-width {
  max-width: 30rem;
  width: 100%;
}

.image {
  max-width: 400px;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.toggle-collapse {
  display: none;
}

.card {
  background: rgb(238, 232, 232);
  margin: 1rem;
  padding: .5rem;
  border-radius: 50px 10px 50px 10px;
}

.text-decoration-none {
  text-decoration: none;
  color: rgb(29, 28, 28);
}

.small {
  font-size: .9rem;
}

/* @media (max-width: 600px){
  .nav-list-item { 
    display: none;
  }

  .toggle-collapse {
    display: block;
    float: right;
    flex: unset;
  }

} */
