body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(35deg, rgb(48, 77, 78), rgb(205, 231, 223));
  max-width: 100vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', cursive;
}

.app {
  text-align: center;
}

nav {
  height: 5rem;
  border: 1px solid;
  align-items: center;
}

.nav-list-item {
  height: 100%;
}

.list-unstyled {
  list-style: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.max-width {
  max-width: 25rem;
  width: 100%;
}

.rounded {
  border-radius: 50px 10px 50px 10px;
}

.image {
  width: 300px;
  transition: 200ms ease-in-out ;
  margin: 1rem 0;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.toggle-collapse {
  display: none;
}

.card {
  background: rgb(238, 232, 232);
  margin: 1rem;
  padding: 1rem;
  transition: 200ms ease-in-out ;
}

.text-decoration-none {
  text-decoration: none;
  color: rgb(29, 28, 28);
}

.small {
  font-size: .9rem;
}

.bold {
  font-weight: bold;
}

.lower-case {
  text-transform: lowercase;
}

.subject-container {
  margin-top: 2rem;
  max-width: 50rem;
  padding: 0;
}

.list-item {
  margin: .2rem;
  border-radius: 10px 5px 10px 5px;
  padding: .3rem .8rem;
  border: none;
}

.shadow {
  box-shadow: 1px 1px 5px rgba(0,0,0,.06);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.float-right {
  margin-left: auto;
  margin-right: .6rem;
}

.line-height {
  line-height: 1.4;
}

.letter-spacing {
  letter-spacing: .08em;
}

.card:hover,
.list-item:hover {
  background-image: linear-gradient(320deg, rgb(194, 223, 208), rgb(226, 240, 232));
  transform: scale(1.02);
  box-shadow: 1px 1px 5px rgba(0,0,0,.09);
}

.card:hover .image {
  transform: scale(1.2);
  border-radius: 10px 50px 10px 50px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.06);
}

.nav-list-item:hover {
  background:rgb(29, 28, 28);
  color:rgb(189, 224, 219);
}