body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(35deg, rgb(255, 255, 255), rgb(237, 245, 241));
  max-width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 6rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', cursive;
}

.app {
  text-align: center;
}

nav {
  height: 4rem;
  align-items: center;
  position:fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  background:rgb(173, 220, 243);
  letter-spacing: .1em;
  padding-left: 3rem;
}

.nav-list-item {
  height: 100%;
  padding: 1.4rem;
}

.list-unstyled {
  list-style: none;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.max-width {
  max-width: 25rem;
  width: 100%;
}

.rounded {
  border-radius: 50px 10px 50px 10px;
}

.image {
  width: 300px;
  transition: 300ms ease-in-out ;
  margin: 1rem 0;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.toggle-collapse {
  display: none;
}

.card {
  background: rgb(211, 235, 231);
  margin: 1rem;
  padding: 1rem;
  transition: 200ms ease-in-out ;
}

.text-decoration-none {
  text-decoration: none;
  color: rgb(29, 28, 28);
}

.small {
  font-size: .9rem;
}

.bold {
  font-weight: bold;
}

.lower-case {
  text-transform: lowercase;
}

.subject-container {
  margin-top: 2rem;
  max-width: 100vw;
  padding: 2rem 20%;
  background-color:rgb(211, 235, 231);
}

.list-item {
  margin: .2rem;
  border-radius: 10px 5px 10px 5px;
  padding: .3rem .8rem;
  border: .5px solid rgb(196, 194, 194);
  background-color: rgb(241, 247, 246);
}

.shadow {
  box-shadow: 3px 3px 4px rgba(0,0,0,.08);
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.float-right {
  margin-left: auto;
  margin-right: .6rem;
}

.line-height {
  line-height: 1.4;
}

.letter-spacing {
  letter-spacing: .08em;
}

input {
  width: 10rem;
  height: 2rem;
  border-radius: 10px 5px 10px 5px;
  border: none;
  margin-right: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.search-button {
  border-radius: 10px;
  padding: .5rem 1rem;
  border: none;
  background-color:rgb(49, 53, 53);
  color:rgb(238, 232, 232);
  transition: 200ms ease-in-out;
  font-family: 'Raleway', sans-serif;
  letter-spacing: .05em;
}

select {
  padding: .3rem .9rem;
  margin: .3rem;
  border: none;
  background-color: rgb(253, 251, 251);
  border: .5px solid rgb(209, 208, 208);
  font-family: 'Raleway', sans-serif;
}

.hr {
  width: 75%;
  max-width: 40rem;
  border: .5px solid rgb(204, 201, 201);
  margin-bottom: 2rem;
}

select{
  border-radius: 10px 5px 10px 5px;
  padding: .5rem;
  font-weight: bold;
}

.logo {
  height: 60px;
  position: absolute;
  top: 0;
  left: 2rem;
}

.search-button:hover {
  color:rgb(48, 77, 78);
  background-color:rgb(238, 232, 232);
}

.card:hover {
  background-image: linear-gradient(320deg, rgb(151, 217, 250), rgb(199, 228, 228));
  /* background-color: rgb(151, 217, 250); */
  transform: scale(1.02);
  box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}

.card:hover .image {
  transform: scale(1.2);
  border-radius: 10px 50px 10px 50px;
  box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}

.nav-list-item:hover,
.active {
  background:rgb(51, 50, 50);
  color:rgb(226, 240, 232);
}

.list-item:hover {
  background:rgb(151, 217, 250);
  color:rgb(57, 58, 57);
  transform: scale(1.05);
  border-radius: 5px 10px 5px 10px;
}

.byline {
  margin-top: 0;
}

.link-button {
  border: none;
  background: transparent;
}

.link-button:hover {
  cursor: pointer;
}

@media (min-width: 200px) and (max-width: 700px) {
  nav {
    height: 5rem;
  }

  .nav-list-item {
    font-size: .8em;
  }

  .subject-container {
    padding: 1rem;
  }
  .list-item {
    font-size: .7em;
    margin: .1rem;
  }
}